
#section01 {
    background: #000;
    height: 5280px;
}

#section01 .title {
    width: 626px;
    height: 124px;
    top: 135px;
    position: absolute;
    left: 50%;
    margin-left: -313px;
    transition: all 2s;
    opacity: 0;
    transform: translateY(50px);
}

#section01 .title.on {
    opacity: 1;
    transform: translateY(0);
}

#section01 .part2_bg {
    width: 1920px;
    height: 748px;
    top: 368px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    transition: all 3s;
    opacity: 0;
}

#section01 .part2_bg.on {
    opacity: 1;
    transform: translateY(0);
}

#section01 .part2 {
    width: 284px;
    height: 59px;
    top: 562px;
    position: absolute;
    left: 50%;
    margin-left: -358px;
    z-index: 50;
    transition: all 2s 1s;
    opacity: 0;
}

#section01 .part2.on {
    opacity: 1;
}

#section01 .part2_title {
    width: 1197px;
    height: 134px;
    top: 728px;
    position: absolute;
    left: 50%;
    margin-left: -598.5px;
    z-index: 50;
    transition: all 2s 1.8s;
    opacity: 0;
}

#section01 .part2_title.on {
    opacity: 1;
}

#section01 .main_img {
    width: 751px;
    height: 576px;
    top: 1424px;
    position: absolute;
    left: 246px;
    transform: translateX(-200px);
}

#section01 .rotate {
    width: 201px;
    height: 199px;
    top: 1280px;
    position: absolute;
    right: 169px;
}

#section01 .main_text {
    width: 472px;
    height: 252px;
    top: 1424px;
    position: absolute;
    right: 365px;
    opacity: 0;
    transform: translateY(50px);
}

#section01 .main_text02 {
    width: 579px;
    height: 122px;
    top: 1800px;
    position: absolute;
    right: 259px;
    opacity: 0;
    transform: translateY(50px);
}

#section01 .module_title {
    width: 613px;
    height: 271px;
    top: 2252px;
    position: absolute;
    left: 259px;
    z-index: 50;
    overflow: hidden;
}

.module_title img {
    transform: translateX(100%);
}


#section01 .module_text01 {
    width: 564px;
    height: 169px;
    top: 2280px;
    position: absolute;
    left: 959px;
    opacity: 0;
    transform: translateY(50px);
}

#section01 .module_01 {
    width: 613px;
    height: 439px;
    top: 2496px;
    position: absolute;
    left: 259px;
    transform: translateX(-300px);
}

#section01 .module_02 {
    width: 699px;
    height: 437px;
    top: 2496px;
    position: absolute;
    left: 959px;
    transform: translateX(300px);
}

#section01 .module_03 {
    width: 872px;
    height: 437px;
    top: 3016px;
    position: absolute;
    left: 0;
    transform: translateX(-300px);
}

#small_box {
    width: 399px;
    height: 399px;
    top: 3016px;
    right: 263px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

#section01 .module_text02 {
    width: 589px;
    height: 357px;
    top: 3567px;
    position: absolute;
    left: 285px;
    opacity: 0;
    transform: translateY(50px);
}

#section01 .module_07 {
    width: 960px;
    height: 399px;
    top: 3548px;
    position: absolute;
    right: -50px;
    transform: translateX(300px);
}

#module_box {
    width: 1920px;
    height: 1041px;
    top: 4226px;
    left: 0;
    position: absolute;
}

#module_box .contents_list01 {
    position: absolute;
    left: 0;
    transform: translateX(-100px);
}

#module_box .contents_list02 {
    position: absolute;
    right: 0;
    transform: translateY(-60px);
}

#module_box .contents_list03 {
    position: absolute;
    bottom: 0;
    left: 1043px;
    transform: translateY(70px);
}

#module_box .contents_list04 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(70px);
}



#section02 {
    background: #000;
    height: 4321px;
}

#section02 .line01 {
    width: 435px;
    height: 71px;
    top: 403px;
    position: absolute;
    left: 758px;
}

#section02 .se2_subtitle1 {
    width: 560px;
    height: 125px;
    top: 327px;
    position: absolute;
    left: 50%;
    margin-left: -280px;
    opacity: 0;
    transform: translateY(120px);
    transition: all 1.2s;
}
#section02 .se2_subtitle1.on{
    transform: translateY(0);
    opacity: 1;
}

#section02 .sub_img01 {
    width: 706px;
    height: 538px;
    top: 705px;
    right: 255px;
    position: absolute;
    transform: translateY(110px);
}

#section02 .line02 {
    width: 239px;
    height: 284px;
    top: 757px;
    left: 486px;
    position: absolute;
}

#section02 .sub_text01 {
    width: 405px;
    height: 357px;
    top: 773px;
    left: 404px;
    position: absolute;
    opacity: 0;
    transform: translateY(50px);
}

#section02 .sub_img02 {
    width: 706px;
    height: 537px;
    top: 1428px;
    left: 255px;
    position: absolute;
    transform: translateY(110px);
}

#section02 .sub_text02 {
    width: 563px;
    height: 357px;
    top: 1491px;
    right: 261px;
    position: absolute;
    opacity: 0;
    transform: translateY(50px);
}

#section02 .frame {
    width: 462px;
    height: 356px;
    top: 2005px;
    right: 80px;
    position: absolute;
    transform: translateX(600px);
}

#section02 .gustave {
    width: 1028px;
    height: 133px;
    top: 2344px;
    left: 81px;
    position: absolute;
    overflow: hidden;
}

#section02 .gustave img{
    transform: translateY(100%);
}

#section02 .gustave_line {
    width: 1116px;
    height: 2px;
    top: 2522px;
    left: 0;
    position: absolute;
    overflow: hidden;
}

#section02 .gustave_line img{
    transform: translateX(-100%);
}

#section02 .text_bg01 {
    width: 391px;
    height: 40px;
    top: 2773px;
    right: 233px;
    position: absolute;
    opacity: 0;
    transform: translateY(-125px);
}

#section02 .text_bg02 {
    width: 392px;
    height: 30px;
    top: 2705px;
    right: 233px;
    position: absolute;
    opacity: 0;
    transform: translateY(-50px);
}

#small_box02 {
    width: 1490px;
    height: 811px;
    top: 2801px;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

#section02 .murder {
    width: 852px;
    height: 121px;
    top: 3952px;
    right: 40px;
    position: absolute;
    overflow: hidden;
}

#section02 .murder img{
    transform: translateY(100%);
}

#section02 .murder_line {
    width: 893px;
    height: 2px;
    top: 4126px;
    right: 0;
    position: absolute;
    overflow: hidden;
}

#section02 .murder_line img {
    transform: translateX(100%);
}


#section03 {
    background: #000;
    height: 2008px;
}

#section03 .character_bg {
    width: 1920px;
    height: 2001px;
    bottom: 0;
    position: absolute;
}

#character_box_bg {
    width: 1404px;
    height: 987px;
    top: 739px;
    left: 50%;
    margin-left: -702px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#character_box_bg > div {
    position: relative;
}

#character_box_bg > div div{
    transition: all 1s;
}

#character_box_bg .actor01 {
    position: absolute;
    left: 50%;
    top: 35px;
    margin-left: -62px;
    transform-origin: top;
    transform: rotate(10deg);
}

#character_box_bg .actor02 {
    position: absolute;
    left: 0;
    top: 0;
}
#character_box_bg .box_bg2:hover .actor02{
    opacity: 0;
}

#character_box_bg .actor02_back{
    position: absolute;
    left: 0;
    top: 0;
}

#character_box_bg .actor02_name {
    position: absolute;
    left: 50%;
    margin-left: -97px;
    bottom: 105px;
}

#character_box_bg .actor03 {
    position: absolute;
    left: 0;
    top: 0;
}

#character_box_bg .actor03_name {
    position: absolute;
    left: 50%;
    margin-left: -82px;
    bottom: 105px;
}

#character_box_bg .actor04 {
    position: absolute;
    left: 0;
    top: 0;
}

#character_box_bg .actor04_name {
    position: absolute;
    left: 50%;
    margin-left: -89px;
    bottom: 105px;
}

#character_box_bg .actor05 {
    position: absolute;
    left: 50%;
    top: 35px;
    margin-left: -62px;
    transform-origin: top;
    transform: rotate(15deg);
}


#character_box_bg .actor06 {
    position: absolute;
    left: 0;
    top: 0;
}

#character_box_bg .actor06_name {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    bottom: 105px;
}

#character_box_bg .actor07 {
    position: absolute;
    left: 50%;
    top: 35px;
    margin-left: -62px;
    transform-origin: top;
    transform: rotate(8deg);
}

#character_box_bg .actor08 {
    position: absolute;
    left: 50%;
    top: 35px;
    margin-left: -62px;
    transform-origin: top;
    transform: rotate(5deg);
}











